@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body{
 
    font-family: 'Inter', sans-serif;
    max-width: 720px;
    margin: 20px auto;
    padding: 20px;
}

:root{
    --primario: #6C03CA;
    --secundario: #F7BF4D;
    --terciario: #F9F9F9;
    --cuarto: #301C47;
    --margen-cajas: 20px;
    --bordes: 2px solid #6C03CA;
    --radio-bordes: 7px;
}

h1{
    color: var(--cuarto);
    
}

.container hr{
    border: solid var(--secundario);
    transform: translate(-37%, -179%);
    width: 177px;
}

.container{
    position: absolute;
    background-color:var(--terciario);
    padding: 20px;
    border-radius: var(--radio-bordes);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 600px;
}

.recordatorios{
    position: relative;
    height: auto;
    background-color: var(--terciario);
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 80px;
}

.recordatorio , .fecha1 , .fecha2 p{
    color: var(--primario);
    font-weight: 600;
}

.button {
    background:var(--secundario);
    color: var(--terciario);
    border: none;
    padding: 10px 15px;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: var(--radio-bordes);
    cursor: pointer;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button:hover{
    background-color: var(--primario)
}

.recordatorios li{
    padding: 10px;
    margin: 5px 0;
    background-color: var(--primario);
    border-radius: var(--radio-bordes);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li::marker {
    content: ' ' !important;
    padding: 0;
}

ul {
    padding: 0;
}


.logo_dmp img{
    width: 130px;
    justify-content: left;
}

.iconos{
    justify-content: center;
}

.iconos ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 60px;
}

.iconos img{
    width: 30px;
    transition: all 900ms ease;
    transform: scale(0.7);
    /*margin: 0 10px;*/
}

.iconos img:hover{
    transform: scale(1);
}

.iconos img#grupo{
    width: 40px;
    /*margin: 0 10px;*/
}


.iconos li{
    list-style: none;
    text-decoration: none;

}

.iconos .imagenes .recurso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.imagenes{
    gap: 10px
}


