@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


:root{
    --primario: #6C03CA;
    --secundario: #F7BF4D;
    --terciario: #F9F9F9;
    --cuarto: #301C47;
    --margen-cajas: 20px;
    --bordes: 2px solid #6C03CA;
    --radio-bordes: 7px;
}

body {
    font-family: "Inter", serif;
  }

h1{
    font-size: 64px;
    color: var(--terciario);
    font-weight: 500;
    line-height: 1.15;
}

h2{
    font-size: 40px;
    color: var(--cuarto);
   
}

h3{
    font-size: 36px;
    color: var(--terciario);
    font-weight: 200;
}

h4{
    font-size: 24px;
    color: var(--primario);
    font-weight: 400;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* eje x */
    align-items: center; /* eje y */
    padding: 1rem;
    background-color:var(--terciario);
    /*margin: 0 30px 0 30px;*/
    /*gap: 10px;*/
}

header img#logo{
    height: 3rem;
}

header ul li img{
    width: 25px;
    transition: all 100ms ease;
    transform: scale(0.7);
}


header ul li img:hover{
    transform: scale(1);
} 

/*Menú de celular*/

.menu-lista{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.menu-lista a{
    color: var(--cuarto);
    text-decoration: none;
    padding: 0.5rem;
}

.menu-lista a:hover{
    color: var(--secundario);
}

.hamburguesa{
    display: none !important;
    cursor: pointer;
    font-size: 1.5rem;
}

#menu-responsive{
    position: fixed;
    background-color: var(--primario);
    width: 250px;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* */
    transform: translateX(-250px);
    opacity: 1;
}

#menu-responsive a{
    color: var(--cuarto);
    text-decoration: none;
    font-size: 2rem;
}

#menu-responsive li{
    margin: 2rem 1rem;
    list-style: none;
}

.menu-activo{
    transform: translateX(250px);
    opacity: 1;
}


/*

header nav li{
    display: inline-block;
    margin-left: 30px;
    font-weight: 600;
  
}

header li a{
    color: var(--cuarto);
    list-style: none;
    text-decoration: none;
}

header li a:hover{
color: var(--secundario);
}

*/


/*secciones*/


section#presentacion {
    width: 100%;
    text-align: center;
    padding: 50px;
    background: linear-gradient(rgba(5,7,12,0.30), rgba(5,7,12,0.30)),url(img/fondo.png);
    color: var(--terciario);
    height: auto;
    background-size: cover;
}

section#presentacion button{
    border: var(--secundario);
    padding: 10px 20px;
    background-color:var(--secundario);
    border-radius: var(--radio-bordes);
    color: var(--terciario);
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 500;
}

section#presentacion button:hover{
    background-color:var(--primario);
}


.area{
    padding-top: 80px;
}

.area h2{
    color: var(--terciario);
    font-weight: 200;
}

section#frase1{
    background-color: var(--cuarto);
    height: 15rem;
    text-align: center;
    
}

section#frase1 h3{
    font-weight: 300;
    padding-top: 2rem;
}

section#quienes_somos{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 80px;
}

.area_items{
    margin-left: 15rem;
    width: 50rem;
}

.area_items h2{
    font-weight: 600;
}

.area_items p{
    padding-top: 2rem;
    color: var(--cuarto);
}

section#quienes_somos img{
    width: 45%;
    margin-right: 137px;
    border-radius: 15px;
    transition: all 900ms ease;
}

section#quienes_somos img:hover{
    width: 60%;
}


section#quienes_somos button{
    border: var(--secundario);
    padding: 10px 20px;
    margin-top: 3rem;
    background-color:var(--primario);
    border-radius: var(--radio-bordes);
    color: var(--terciario);
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 600;
}

section#quienes_somos button:hover{
    background-color:var(--secundario);
}

section#servicios{
    width: 100%;
    padding: 15px 9%;
    background-color: var(--terciario);
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#servicios h2{
    font-weight: 600;
}

section#servicios .heading{
    text-align: center;
    padding-bottom: 3rem;
    background: var(--terciario);
}

section#servicios .servicios_1{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}


#servicios .servicios_1 .tarjeta{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px 15px;
    border-style: groove;
    border-width: 2px;
    border-color: var(--primario);
    transition: all 300ms ease;
}


.icon img{
    width: 50px;
}



#servicios .servicios_1 .tarjeta p{
    color: var(--cuarto);
}

#servicios .servicios_1 .tarjeta:hover{
    transform: scale(1.05);
}

#servicios .servicios_1 .tarjeta button{
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 15px;
    letter-spacing: 2px;
    cursor: pointer;
    border-style: groove;
    border-width: 1px;
    border-color: var(--secundario);
}

#servicios .servicios_1 .tarjeta button:hover{
    background-color:var(--secundario);
}


section#frase2{
    background-color: var(--cuarto);
    height: 15rem;
    text-align: center;

}

section#frase2 h3{
    font-weight: 300;
    padding-top: 2rem;
}

section#aliados{
    background-color: var(--terciario);
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.empresas{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 40px 0 40px 0;
    width: 75%;
}

.empresas ul{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    gap: 5rem;
}


.empresas ul img{
    width: 160px; 
    transform: scale(0.7);
    transition: all 300ms ease;
}


.empresas ul img:hover{
    transform: scale(1);
}


section#elegir{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.informacion{
    width: 50rem;
    margin-left: -18rem;
}

.informacion h2{
    font-weight: 600;
}

.informacion p{
    padding-top: 2rem;
    color: var(--cuarto);
}

section#elegir img{
    width: 50%;
    margin-left: 6.25rem;
    border-radius: 15px;
    transform: scale(0.7);
    transition: all 300ms ease;
}



section#elegir img:hover{
    transform: scale(1);
}


section#elegir button{
    border: var(--secundario);
    padding: 10px 20px;
    margin-top: 3rem;
    background-color:var(--primario);
    border-radius: var(--radio-bordes);
    color: var(--terciario);
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 500;
}

section#elegir button:hover{
    background-color:var(--secundario);
}



.informacion .puntos h2{
    color: var(--primario);
}

::marker{
    color: var(--primario);
    font-size: 20px;
}


section#formulario{
    height: auto;
    background-color: var(--terciario);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5rem;
 
}

.datos-personales h2{
    text-align: center;
    margin-top: 30px;
    font-weight: 400;
    line-height: 1.2;
}

.datos-personales hr{
    border: solid var(--primario);
    margin-top: 20px;
    transform: translate(17%, -50%);
    width: 500px;
}

.datos-personales p{
    padding-top: 2rem;
    color: var(--cuarto);
    text-align: center;
}

.datos-personales{
    margin-left: 150px;
}

#imagen img{
    width: 400px;
    margin-top: 288px;
    translate: -208px;
    transform: scale(0.7);
    transition: all 900ms ease;
    border-radius: 15px;
}


#imagen img:hover{
    transform: scale(1);
}

.form{
    margin-top: 30px;
}

.form input{
    padding: 15px;
}

 .form input, .form textarea{
     display: flex;
     width:50%;
     line-height: 28px;
     border:2px solid var(--secundario);
     border-radius: var(--radio-bordes);
 }

 label{
    font-size: 14px;
    color:  var(--cuarto);
    font-weight: 500;
 }

 textarea{
    translate:  0% 10%;
 }
 
 .form textarea{
     min-height: 200px;
     padding: 21px;
 }
 
.form input{
    translate:  0% 44%;
 }

 .form .cta-a{
    border: 1px solid (var(--cuarto));
    background: var(--primario);
    color: #fff;
    border-radius: 4px;
    font-size: 18px;
    width: 8rem;
}
 
.form .cta-a:hover{
    background-color:var(--secundario);
}

.area_footer{
    height: auto;
    background: var(--secundario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 }


.redes-sociales ul{
     display: flex;
     justify-content: center;
     list-style: none;
     text-decoration: none;
}

.social-logo{
    width: 120px;
    padding: 35px;
    transition: all 400ms ease;
}

.social-logo:hover{
    transform: translateY(-4%);
}

.footer-creds{
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.creditos{
    padding-bottom: 50px;
}

.creditos .footer-creds p{
    font-size: 20px;
    color: var(--terciario);
}

#wsp{
    position: fixed;
    width: 60px;
    height: 60px;
    top:   389px;
    right: 30px;
    text-align: center;
    z-index: 100;
    transition: all 300ms ease;
}

#wsp:hover{
    transform: translateY(-10%);
}


#wspb{
    position: fixed;
    width: 60px;
    height: 60px;
    top: 389px;
    right: 142px;
    transition: all 300ms ease;
}

#wspb:hover{
    transform: translateY(-10%);
}

/* medidas responsive*/

@media(max-width: 480px) {
    #presentacion .area h1{
        font-size: 50px;  
    }
    #presentacion .area h2{
        font-size: 30px;  
    }
    #frase1 h3 {
        font-size: 20px;
    }

    #frase2 h3{
        font-size: 20px;
    }

}

@media(max-width: 768px){
    .menu-lista{
        display: none;
        opacity: 0;
    }

    .hamburguesa{
        display: block !important;
    }

}


@media(max-width: 800px) {
    .empresas ul {
        flex-direction: column;
    }

}

@media(min-width: 600px) and (max-width: 900px){
    .empresas ul {
        width: 60%; 
    }

    .empresas ul img{
    width: 7rem; 
}
}

@media(min-width: 420px){
    #elegir{

    }

    #elegir img{
      

    }

}





